<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InACall.Properties.InTheCallSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InACall.Properties.InTheCallSettings>
            <setting name="ShouldChangeMoodText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoodText" serializeAs="String">
                <value>In a Call</value>
            </setting>
            <setting name="ShouldChangeUserStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserStatus" serializeAs="String">
                <value>cusDoNotDisturb</value>
            </setting>
            <setting name="ShouldRemainInvisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </InACall.Properties.InTheCallSettings>
    </userSettings>
</configuration>